# Project: Predicting patients turnup for an event.

In [1]:
#Basics
import pandas as pd
import numpy as np

#Visualization
import matplotlib.pyplot as plot
import seaborn as sns
import matplotlib.pyplot as plt

#SKLearn ML
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import plot_confusion_matrix

In [3]:
# loading dataset
preprocessed = pd.read_csv('../data/preprocessed.csv')
preprocessed.head()

,Gender,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,Show,scheduled_month,scheduled_day,appointment_month,appointment_day,Age_groups
0,F,62,JARDIM DA PENHA,0,1,0,0,0,0,1,4,6,4,6,4
1,M,56,JARDIM DA PENHA,0,0,0,0,0,0,1,4,6,4,6,4
2,F,62,MATA DA PRAIA,0,0,0,0,0,0,1,4,6,4,6,4
3,F,8,PONTAL DE CAMBURI,0,0,0,0,0,0,1,4,6,4,6,1
4,F,56,JARDIM DA PENHA,0,1,1,0,0,0,1,4,6,4,6,4

In [6]:
preprocessed.Neighbourhood.nunique()

81

In [8]:
# drop Neighbourhood due to its large categories
preprocessed.drop(['Neighbourhood'], axis=1, inplace=True)